.denomination-item-button {
  background-color: #585076;
  color: #d4d2db;
  border: 0.1rem solid #c4c4c4;
  border-radius: 0.4rem;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  padding: 0.25rem 1.25rem;
}
