.cash-withdrawal-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100%;
  padding: 1.5rem;
}

.cash-withdrawal-content-container {
  border-radius: 1rem;
  background-color: #150b3e;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-details-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5rem;
}

.user-initial {
  background-color: #c7d2fe;
  border-radius: 49%;
  font-size: 1rem;
  text-align: center;
  margin-right: 1rem;
  padding-top: 1.3rem;
  width: 4rem;
  height: 4rem;
  color: #585076;
}

.user-name {
  color: #d4d2db;
  font-size: 1.2rem;
}

.balance-details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.balance-label {
  color: #585076;
  font-size: 1.2rem;
  margin: 0;
}

.balance-value-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0;
}

.balance-value {
  color: #d4d2db;
  font-size: 2rem;
  margin: 0;
}

.currency-text {
  color: #585076;
  font-size: 0.9rem;
}

.withdraw-content-container {
  display: flex;
  flex-direction: column;
}

.withdraw-content-header {
  color: #d4d2db;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.withdraw-content-description {
  color: #585076;
  font-size: 1rem;
}

.withdraw-denominations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
